@import "../App.css";
.mainContainer{
    position: relative;
    width: 300px;
    height: 200px;
    height: auto;
    background: green;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

.card{
    position: absolute;
    width: 150px;
    height: 250px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    background-color: green;
    border-radius: 10px;
}
.card:hover{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width: 150px;
    height: 250px;
    backface-visibility: hidden;
    background-color:whitesmoke;
    border-radius: 10px;
}

.back{
    position: absolute;
    backface-visibility: hidden;
    width: 150px;
    height: 250px;
    font-size: smaller !important;
    font-weight: 100;
    word-wrap: break-word;
    transform: rotateY(180deg);
    background-color:white;
    border-radius: 10px;
}

label{
    float: left;
    margin: 5px;
}

.mrg_10{
    margin-top: 10px;
}

.mrg{
margin: 10px;
}

.top_10{
    top: 10px;
}

.mrg_lft_rgt_5{
    margin-left: 5px;
    margin-right: 5px;
}

.pad_top_10{
    padding-top: 10px;
}

.searchPanel{
    background-color: #729090 !important;
    width: 80%;
    border-radius: 15px;
}
